@tailwind base;
@tailwind components;
@tailwind utilities;

body, bg_mobile {
  background: radial-gradient(ellipse at bottom, #0a131d 0%, #000000 100%);
  background-position: center;
  background-size: cover;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 72.2% 50.6%;
    --primary-foreground: 0 85.7% 97.3%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 72.2% 50.6%;
    --radius: 0.5rem;
    --scrollbar-width: 8px;
    --scrollbar-track-color: rgba(0, 0, 0, 0);
    --scrollbar-thumb-color: rgba(255, 255, 255, .7);
    --scrollbar-thumb-hover-color: rgba(255, 255, 255, 1);
    --shooting-time: 3000ms;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 72.2% 50.6%;
    --primary-foreground: 0 85.7% 97.3%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 72.2% 50.6%;
    --scrollbar-width: 8px;
    --scrollbar-track-color: rgba(0, 0, 0, 0);
    --scrollbar-thumb-color: rgba(255, 255, 255, .7);
    --scrollbar-thumb-hover-color: rgba(255, 255, 255, 1);
    --shooting-time: 3000ms;

    --color-interactive: 140, 100, 255;
    --circle-size: 80%;
    --blending: hard-light;
  }
}



/* Estilos personalizados para la barra de scroll */
::-webkit-scrollbar {
  width: var(--scrollbar-width); /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-color); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color); 
  border-radius: 10px;
  transition: background-color 0.2s ease; /* Transición suave */
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover-color); /* Color al pasar el ratón */
}

/* Glassmorphism card effect */
.glass {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.4);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: 0.5s ease-in-out;
}

.glass:hover{
  background-color: rgba(19, 29, 46, 0.9);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff;
}

/* NEON */

.neon{
  transition: all 0.3s ease-in-out;
}

.neon:hover {
  box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff;
}

.neonAlways {
  box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff;
}


/* Animacion de entrada y salida con scroll */

@keyframes show  {
  from {
    opacity: 0;
    scale: 50%; 
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}

.scroll-scale {
  view-timeline-name: --scrollY;
  view-timeline-axis: black;

  animation-timeline: --scrollY;
  animation-name: show;

  animation-range: entry 25% cover 50%;
  animation-fill-mode: both;
}

/* Animacion de entrada y salida con scroll para Cards */

@keyframes reveal  {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.scroll-reveal {
  animation: reveal linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 30%;
}



/* NAVBAR ANIMATION */

nav {	
  z-index: 100;
  color:white;
  position: sticky;
  top: 0px;
  left: 0px;
  font-size: 12px;


  animation: enhance-header linear both;
  animation-timeline: scroll(root);
  animation-range: 0 350px;
}

@keyframes enhance-header{
  to {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background: rgba(220, 38, 38, 0.3);
    font-size: 10px;
    color: rgba(255, 255, 255, 0.9);
  }
}



